.container-floral-sides{
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  margin-top: -50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: calc(var(--viewport-height) - 100px);
  position: relative;
}

.floral-sides-left, .floral-sides-right{
  background-image: url(../img/floral-sides.svg);
  background-repeat: no-repeat;
  position: absolute;
  overflow: hidden;
  height: 100%;
  width: 195px;
  z-index: -1;
  top: 0;
}

.floral-sides-left{
  left: 0;
  transform: scaleX(-1);
}

.floral-sides-right{
  right: 0;
  

}
@media(max-width:750px){
  .floral-sides-left{
    margin-left: -80px;
  }
  
  .floral-sides-right{
    margin-right: -80px
  }

}
