@import url(nav.css);
@import url(typography.css);
@import url(effects.css);

*{
    margin: 0;
    padding: 0;
}

:root {
    --orange: #eb8a0c;
    --grey: #262626;
    --font-color: rgba(255, 255, 255, 0.959);

}
  

body{
    background-color: rgb(8, 8, 8);
    color: var(--font-color);
}



